<div class="h-screen w-full flex flex-col justify-center items-center">

  <h1 class="text-6xl text-white text-center">Crear Cuenta</h1>

  <img
  class="size-35 mb-2"
  src="circle-user-regular.svg"
  alt="Icono de usuarios">

  <div class="flex h-fit w-1/2 rounded-3xl justify-center text-2xl py-4"
  style="background: rgba(60, 60, 67, 0.18)">

    <form action="">

      <div class="text-white py-3">
        <label for="nombre"
        class="py-4">Nombre</label><br>
        <input type="text" name="nombre" id="nombre" placeholder="nombre"
        class="border rounded-lg w-full"
          style="background: rgba(60, 60, 67, 0.3);">
      </div>

      <div class="text-white">
        <label for="apellidos"
        class="py-4">Apellidos</label> <br>
        <input type="text" name="apellidos" id="apellidos" placeholder="apellidos"
        class="border rounded-lg w-full"
          style="background: rgba(60, 60, 67, 0.3);">
      </div>

      <div class="text-white py-3">
        <label for="correo"
        class="py-4">Correo</label> <br>
        <input type="email" name="correo" id="correo" placeholder="correo"
        class="border rounded-lg w-full"
          style="background: rgba(60, 60, 67, 0.3);">
      </div>

      <div class="text-white">
        <label for="password"
        class="py-4">Contraseña</label> <br>
        <input type="password" name="password" id="password" placeholder="*********"
        class="border rounded-lg w-full"
          style="background: rgba(60, 60, 67, 0.3);">
      </div>

      <div class="w-fit flex flex-col text-center py-4">

        <button class="flex rounded-lg bg-gray-300 py-1 px-3">
          <img src="upload-svgrepo-com.svg" alt="Icono de Subir" class="size-8 px-1">
          Subir identificación oficial
        </button>

        <div class="py-2">
          <input type="checkbox" name="term&cond" class="size-5">
          <label for="term&cond"
          class="text-white">Leer Términos y Condiciones</label>
        </div>

        <input type="submit" value="Acceder"
        class="bg-blue-700 rounded-lg w-full mt-4 py-1 px-3 text-white">

      </div>

    </form>

  </div>

</div>
