<div class="h-screen flex flex-col pt-10 items-center text-white">
  <h1 class="text-6xl mb-2">Party App</h1>

  <img
  class="size-50 mt-5 mb-5"
  src="globe-thin-svgrepo-com.svg"
  alt="icono de PartyApp">

  <div class="text-center text-lg">
    <button class="m-8 border-2 border-none rounded-xl py-3.5 px-7" style="background-color: rgba(0, 0, 0, 0.6);">
      <a href="/login">Iniciar Sesión</a>
    </button>
    <br>
    <button class="border-2 border-none rounded-xl py-3.5 px-10" style="background-color: rgba(0, 0, 0, 0.6);">
      <a href="/usertype">Registrarse</a>
    </button>
  </div>
</div>
