<header class="flex text-6xl text-white mt-10 items-center justify-center">
  PartyApp
  <img
  class="size-32"
  src="globe-thin-svgrepo-com.svg"
  alt="Icono de PartyApp">
</header>

<div class="p-4 space-y-10 text-center">

  <h1 id="user-type-descripcion"
  class="text-white text-4xl py-4">
    Selecciona cómo quieres registrarte
  </h1>

  <!--Grupo Musical-->
  <div class="text-white outline-white outline-1 rounded-4xl px-4 py-4 mx-40"
      style="background: rgba(60, 60, 67, 0.3)">
      <h1 class="text-3xl font-bold py-2">
        Grupo Musical
      </h1>

      <h2 class="py-4">
        Registrate como grupo y recibe solicitudes de
        clientes que buscan talento para sus eventos
      </h2>

      <button
      class="rounded-lg bg-blue-700 px-6 py-2">
      <a href="usertype/group">
        Soy Grupo
      </a>
    </button>
  </div>

  <!--Cliente-->
  <div class="text-white outline-white outline-1 rounded-[30px] px-4 py-4 mx-40"
      style="background: rgba(60, 60, 67, 0.3)">
    <h1 class="text-3xl font-bold py-2">
      Cliente
    </h1>

    <h2 class="py-4">
      Registrate como cliente y encuentra grupos musicales
      ideales musicales ideales para tu evento
    </h2>

    <button
    class="rounded-lg bg-blue-700 px-6 py-2">
    <a href="usertype/user">
      Soy Cliente
    </a>
  </button>
  </div>
</div>
