@import "tailwindcss";

html
{
  height: 100%;
  margin: 0;
  padding: 0;
}

body
{
  background: linear-gradient(180deg, #405DE6 2%, #465AE3 14%,
  #4C57E1 25.62%, #6849CA 36%, #943FA7 48%, #C92E62 59%,
  #E32540 69%, #ED4E3B 79%, rgba(244, 127, 64, 0.25098) 88%,
  #FFDC80 99%);

  font-family: Krona One;
}
